body {
  height: 100vh;
}
.App {
  text-align: center;
}

ul {
  display: inline;
}

li {
  display: initial;
  padding: 20px;
}

.about {
  display: flex;
}

.blog {
  display: flex;
  justify-content: space-evenly;
}

.latest {
  display: flex;
  flex-direction: column;
}


.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box {
  border: 1px solid black;
  width: 450px;
  display: flex;
  padding: 40px 20px;
  flex-direction: column;
}

main {
  min-height: 600px;
}
 